# .gitignore для проекта на Hugo

# Игнорируем папку с собранным сайтом
/public/

# Игнорируем системные файлы и каталоги IDE
.idea/
.vscode/

# Игнорируем временные файлы macOS
.DS_Store

# Игнорируем временные файлы Windows
Thumbs.db

# Лог файлы
*.log

# Игнорируем папки и файлы, связанные с тестами
/test/

# Игнорируем файлы, связанные с настройкой зависимостей для Hugo (например, если используешь Go модули)
/go/

# Игнорируем файлы, генерируемые при сборке сайта
hugo_cache/
